@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:wght@300;400;700&display=swap');
// Propriétés déterminées au départ (Lid - Eli)
body { //collé au bord
    padding: 0; 
    margin: 0;
}

.container {
    box-sizing: content-box;    
    width: 100%;
}

.mainMenuButton {
    align-items: flex-end;
    margin: 20px;
    border-radius: 5px;
}

// Home Page (Eli)---------------------------------------------------------------
header {
    display: flex;
    align-items: center; // marge d'écriture au centre
    flex-wrap: wrap;
    padding: 25px 15px;

    .logoKababi {
        max-width: 140px;
        margin-left: 4%;
    }

    nav {
        ul {
            list-style: none;
            padding: 0;
            display: flex; // Pour utiliser align center et evite l'effet liste
            align-items: center; 
            margin-left: 20%;

            li {
                margin: 0 20px; // créée un espace entre
    
                a {
                    text-decoration: none;
                    color: $colorLight;
                    font-family: 'Open Sans', sans-serif;
                    display: flex;
                    align-items: center; // Pour être sur la meme ligne (icone fleche)

                    i {
                        margin-left: 5px;
                        font-size: 0.7rem;
                    }

                    &:hover { // & = a:hover
                    color: $colorGold; 
                    }
                }
            }
        }
    }

    .headerPhone {
        text-align: right;
        margin-left: auto; // Pousse à droite
        display: flex; 
        align-items: center;
        color: $colorLight;
        font-family: 'Open Sans', sans-serif;

        img {
            max-width: 20px;
            margin-right: 10px;
            }
    }

    .booking {
        margin-right: 4%;
        margin-left: 30px;
        a {
            background-color: $colorGold;
            color: $colorLight;
            padding: 15px 30px;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 0.8rem; // 80% de la taille des mots déjà existants
        }
    }
}

.menuButton {
    display: none;
    background-color: $colorGold;
    color: $colorLight;
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.8rem; 
}
// Media query pour HomePage Pc>>Mobile
@media screen and (max-width: 768px) {
    header nav ul {
        display: none; 
    }
    header nav ul.active {
        position: absolute;
        top: 25%;
        left: 37%;
      display: block; // quand on l'active elle s'affiche (barre menu)
    }
    .booking {
        margin: 20px 0;
    }
    .headerPhone {
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .menuButton {
        display: block;// affiche menu Hamburger
    }
    .boutonPlay {
        display: none;
    }
    #home {
        padding: 0 5% 15% 0;
    }
}

#home {
    // dégradé = voir cssgradient.io
    background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 100%), url('./Images/BG/img_bg_slider_home01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    h1 {
        font-size: 5.3rem; // rem = % de la taille de base
        line-height: 7rem;
        font-weight: 200;
        font-family: 'Forum';
        text-transform: uppercase;
        color: $colorLight;
        margin-left: 13%;
        margin-bottom: 30px;
        width: 30%; // largeur de titre
        img {
            float: right;
            max-width: 8rem;
            margin-top: -40px; // pour remonter
        }
    }
    .boutonExplore {
        background-color: transparent;
        border: solid 1px rgba(255,255,255,0.2); // opacite
        color: $colorLight;
        padding: 15px 30px;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 0.75rem;
        margin-left: 13%; //pour qu'il soit l'un en dessous de l'autre (titre)
    }
    .boutonPlay {
        position: absolute;
        bottom: 0; // ancré en bas
        right: 0; // ancré à droite
        margin-bottom: 15%;
        margin-right: 10%;
        color: $colorGold;
        padding: 50px;
        border-radius: 50%;
        background-color: $colorLight;
        font-size: 1.5rem; // icone = caractère spécial donc, les propriétés de texte
    }
}
// Home Page fin ---------------------------------------------------------------

// Page 2 - Category (Lid)--------------------------------------------------
.title {
    position: relative;
    .leaf {
        position: absolute;
        right: 0%;
        margin-right: 5%;
        margin-top: 15%;
        max-width: 20%;
    }
    h2 {
        position: absolute;
        text-align:left;
        color: $colorGold;
        opacity: 0.2;
        font-size: 4rem;
        font-weight: 200;
        font-family: 'Forum';
        text-transform: uppercase;
        margin-left: 0%;
        margin-top: 5%;
    }
    h3 {
        color: $colorDark;
        font-size: 1.5rem;
        font-weight: 200;
        font-family: 'Forum';
        text-transform: uppercase;
        margin: auto;
        text-align: center;
        padding-top: 15%;
        width: 50%;
    }
    h4 {
        font-size: 0.8rem;
        font-family: 'Forum';
        text-align: center;
        margin: auto;
        width: 50%;
        margin-bottom: 30px;  
    }
}
.category { 
    .boxes{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        width: 90%;
        .box{
            background-color: $colorLight;
            text-align: center;
            padding: 10px 0;            
            img[alt="food-gold"] {
                width: 20%;
            }
            img[alt="food-white"] {
                width: 20%;
                display: none;
            }
            img[alt="arrow"] {
                width: 5%;
            }
            img[alt="arrow-white"] {
                width: 5%;
                display: none;
            }
            &:hover {
                background-color: $colorGold;
                color:$colorLight;
                position: relative;
                img[alt="food-gold"]{
                    display: none;
                }
                img[alt="food-white"] {
                    display: inline-block;
                }
                img[alt="arrow"] {
                    display: none;
                }
                img[alt="arrow-white"] {
                    display: inline-block;
                }
            }
        }
    }
    img[alt="mushroom"]{
            width: 150px;
    }
    @media screen and (min-xidth: 410px) and (max-width:768px) {
        .boxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    @media screen and (min-width: 768px) {
        .boxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            width: 40%;
    
        }
    }
}
// Page 2 - Category Fin -------------------------------------------------------------------

// Page 3 - Plates (Eli) -------------------------------------------------------
.plates {
    background-color: $colorLight;
    display: flex;
    justify-content: space-between; // Espace équitablement les images
    flex-wrap: wrap;
    align-items: center;
    .unQuart {
        width: 25%;
        margin-bottom: 20px;
        height: auto;
    }
    .unDemi {
        width: 40%;
        margin-bottom: 20px;
        border-radius: 50%;
        border: solid 15px $colorLight;
        margin-top: -100px;
    }
}
@media screen and (max-width: 768px) {
    .plates {
        flex-direction: column; 
        align-items: center;

    .unQuart, .unDemi {
        max-width: 100%; // Ajuste largeur (mobile)
        margin-bottom: 10px; // Entre les images (mobile)
        margin-top: 0;
    }
    }
}
// Page 3 bis - About (Eli)----------------------------------------------------
.about {
    background-color: $colorLight;
    padding-bottom: 60px;
}
#head {
    position: relative; //les positions qui suivent s'ancrent dans cette "id"
}
.bestLabel {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5%;
    margin-top: 15%;
    max-width: 20%; 
}
h2 {
    position: absolute;
    text-align: center;
    color: $colorGold;
    opacity: 0.2;
    font-size: 5.5rem;
    font-weight: 200;
    font-family: 'Forum';
    text-transform: uppercase;
    margin-left: 0%;
    margin-top: 5%;
}
h3 {
    color: $colorDark;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Forum';
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    padding-top: 15%;
    width: 50%; 
}
h4 {
    font-size: 0.8rem;
    font-family: 'Forum';
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}         
.mainAbout {
    display: flex;
    justify-content: space-between; // espace équitablement les pix
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: auto;
        div {
            flex: 1; // div prennent une largeur égale
        }
        img {
            vertical-align: middle;
            max-width: 100%;
            height: auto;
        }
        p {
            font-family: 'Forum';
            padding: 15px;
        }
}

    .mainAbout {
      flex-direction: column; //les deux div sont en colonne (mobile)
      align-items: center; // centrer horizontalement (mobile)
    }

        .discoverMore {
            padding: 15px;
            a {
                width: 50%;
                background-color: $colorGold;
                color: $colorLight;
                bottom: 0;
                padding: 15px 30px;
                border-radius: 5px;
                text-transform: uppercase;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 0.8rem; 
            }
        }

// About us fin-------------------------------------------------------

//Page 4 - Our Menu (Lid)-----------------------------------------

.menu {
    background-color: $colorBgLight;
    
    img[alt="bread"] {
        position:absolute;
        right: 0%;;
        opacity: 10%;
        height: 70%;
        z-index: 2;
    }
    img[alt="steack"] {
        position:absolute;
        height: 60%;
        padding-top: 132%;
        opacity: 10%;
    }
    .box-prices {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        width: 90%;
        z-index: 1;
        padding-bottom: 10%;
        .box-price {
            background-color: $colorLight;
            border: 1px dotted $colorGold;
            border-radius: 5px; 
            margin: 0;
            display: grid;
            grid-template-columns: 2fr 1fr;
            height: 100%;
            .name-food {
                padding-left: 10px;
                p {
                    font-size: 0.6em;
                }
            }
            .price {
                text-align: center;
                font-size: 2em;
                color: $colorGold;

            }
        }
    }
    @media screen and (min-width:410px) and (max-width:768px) {
        .box-prices {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            .box-price {
                width: 200px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        img[alt="bread"] {
            position: absolute;
            left: none;
            opacity: 100%;
            z-index: 1;
        }
        img[alt="steack"] {
            display: none;

        }
        .box-prices {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            z-index: 2;
         
            .box-price {
                width: 70%;
                justify-self: center;
            }
        }
    }    
}
//---------------------------------------------------------------

// Page 5 - Gallery-(Lid)--------------------------------------------

.gallery {
    background-color: colorLight;
    text-align: center;
    padding: 0 0 5% 0;
   
    .slide {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 80%;
        gap: 5px;
        .img1, .img3 {
            grid-column: 1/3;
            img[alt="image1"] {
            width: 100%;
            }
        }
        .img2 {
            grid-column-start: 1/2;
            img[alt="image2"] {
                width: 100%;
            }

        }
        .img1 , .img2 {
            transform: 0.3s;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
    .viewMore {
        padding: 15px;
        a {
            width: 50%;
            background-color: $colorGold;
            color: $colorLight;
            bottom: 0;
            padding: 15px 30px;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 0.8rem; 
        }
    }
    @media screen and (min-width: 768px) {
        .slide {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 50%;
            .img3 {
                grid-column: 3/5;
            }
        }
    }
}
// ----------------------------------------------------------------
//-Page 6-Meet Chefs-(Lid)-------------------------------------------

.chefs {
    background-color: $colorDark;
    
    .title {
        h3, h4 {
            color: $colorLight;
        }
    }
    .photo-chefs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        width: 90%;
        margin: auto;
        padding-bottom: 5%;
        img {
            width: 100%;
        }
    }
    @media screen and (min-width: 768px) {
        .photo-chefs {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            width: 60%;
        }
    }
}
//-------------------------------------------------------------------------
// Page 7 - News & blog (Eli)----------------------------------------------
.blog {   
    .blog-container {
        display: flex;
        flex-direction: column;
            .box-blog {
                padding: 20px;
                border: 1px solid $colorGold;
                margin: 10px; // espace exterieur de l'article
                box-sizing: border-box;
                background-color: $colorBgLight;
                .people {
                    align-items: center;
                    max-width: 100%;
                    height: auto;
                }
                .itemInfo {
                    display: flex;
                    justify-content: flex-start;
                }
            }
    }
    p {
        margin: 10px 0;
        font-family: 'Forum';
        text-transform: capitalize;
            img { //icon article
                margin-right: 5px;
                width: 10%;
                vertical-align: middle; //aligné sur le milieu de la cellule
            }
    }

    .readMore {
        text-align: right;
        padding: 15px;
        a {
            width: 50%;
            background-color: $colorGold;
            color: $colorLight;
            bottom: 0;
            padding: 15px 30px;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 0.8rem; 
        }
    }

    .iconResto {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        img {
            width: 20%;
            max-height: 90%; 
            margin: 5%; // espaces entre 
        }
    }
}
// ------------------------------------------------------------------------------

//------Page 8 - Footer--------------------------------------------------------------

footer{
    background-color: $background-colorDark;
    color: $colorIcon;
    .logo-footer{
        width: 100%;
        text-align: center;
        padding-top: 5%;
    }
    .social-media {
        text-align: center;
        img {
            background-color: gray;
            width: 20px;
            height: 20px;
            padding: 5px;
            border-radius: 100%;
            &:hover {
                background-color: $colorGold;
            }
        }
    }
    .global-foot {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        margin: auto;
        .foot {
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            .email-container {
                display:flex;
                align-items:center;
                input {
                    width: 250px;
                    height: 30px;
                    font-size: 0.8em;
                    text-align:center;
                    border: none;
                }
            }
            .send-email {
                color: $colorLight;
                background-color: $colorGold;
                cursor: pointer;
                height: 100%;
                border: none;
            }
            h6 {
                font-size: 1.2em;
                color: $colorLight;
            }
            a {
                text-decoration: none;
                color: $colorIcon;
            }
            img {
                width: 20px;
            }
            .contact {
                width: 80%;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                .A {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                        padding-right: 5%;
                    }
                }
            }
        }
    }
    img[alt="spoon"] {
        position: absolute;
        right: 38%;
        width: 100px;
        z-index: 1;
    }
    .copy {
        padding: 30% 0;
        text-align: center;
        border-top: 1px solid $colorIcon;
        z-index: 2;
    }
    @media screen and (min-width: 768px) {
        .global-foot {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 60%;
            .foot {
                width: 250px;
                justify-self: center;
            }
        }
            img[alt="spoon"] {
            position: absolute;
            left: 50%;
            
        }
        .copy {
            padding-bottom: 80px;
            padding-top:200px;
        }
    }
}    