@import url("https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:wght@300;400;700&display=swap");
body {
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: content-box;
  width: 100%;
}

.mainMenuButton {
  align-items: flex-end;
  margin: 20px;
  border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 15px;
}
header .logoKababi {
  max-width: 140px;
  margin-left: 4%;
}
header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 20%;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #FDFCFA;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}
header nav ul li a i {
  margin-left: 5px;
  font-size: 0.7rem;
}
header nav ul li a:hover {
  color: #C8A96A;
}
header .headerPhone {
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #FDFCFA;
  font-family: "Open Sans", sans-serif;
}
header .headerPhone img {
  max-width: 20px;
  margin-right: 10px;
}
header .booking {
  margin-right: 4%;
  margin-left: 30px;
}
header .booking a {
  background-color: #C8A96A;
  color: #FDFCFA;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.menuButton {
  display: none;
  background-color: #C8A96A;
  color: #FDFCFA;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
  header nav ul.active {
    display: block;
  }
  .booking {
    margin: 20px 0;
  }
  .headerPhone {
    display: block;
    text-align: center;
    margin: 20px 0;
  }
  .menuButton {
    display: block;
  }
  .boutonPlay {
    display: none;
  }
  #home {
    padding: 0 5% 15% 0;
  }
}
#home {
  background: linear-gradient(145deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%), url("./Images/BG/img_bg_slider_home01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
#home h1 {
  font-size: 5.3rem;
  line-height: 7rem;
  font-weight: 200;
  font-family: "Forum";
  text-transform: uppercase;
  color: #FDFCFA;
  margin-left: 13%;
  margin-bottom: 30px;
  width: 30%;
}
#home h1 img {
  float: right;
  max-width: 8rem;
  margin-top: -40px;
}
#home .boutonExplore {
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, 0.2);
  color: #FDFCFA;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  margin-left: 13%;
}
#home .boutonPlay {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15%;
  margin-right: 10%;
  color: #C8A96A;
  padding: 50px;
  border-radius: 50%;
  background-color: #FDFCFA;
  font-size: 1.5rem;
}

.category {
  background-color: #FAF6F0;
}
.category .titles:before {
  position: absolute;
  left: 5%;
  content: "Category";
  font-size: 4em;
  color: #C8A96A;
  opacity: 10%;
}
.category .titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.category .titles .subtitles {
  text-align: center;
}
.category .titles .subtitles h3 {
  font-size: 1.5em;
}
.category .titles .subtitles h4 {
  font-size: 0.6em;
}
.category .titles img[alt=leaf] {
  position: absolute;
  left: 60%;
  width: 30%;
  margin: 0;
  z-index: 2;
}

.boxes {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 90%;
}
.boxes .box {
  background-color: #FDFCFA;
  text-align: center;
  padding: 10px 0;
}
.boxes .box img[alt=food-gold] {
  width: 20%;
}
.boxes .box img[alt=food-white] {
  width: 20%;
  display: none;
}
.boxes .box img[alt=arrow] {
  width: 5%;
}
.boxes .box img[alt=arrow-white] {
  width: 5%;
  display: none;
}
.boxes .box:hover {
  background-color: #C8A96A;
  color: #FDFCFA;
  position: relative;
}
.boxes .box:hover img[alt=food-gold] {
  display: none;
}
.boxes .box:hover img[alt=food-white] {
  display: inline-block;
}
.boxes .box:hover img[alt=arrow] {
  display: none;
}
.boxes .box:hover img[alt=arrow-white] {
  display: inline-block;
}

img[alt=mushroom] {
  width: 20%;
}

.plates {
  background-color: #FDFCFA;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.plates .unQuart {
  width: 25%;
  margin-bottom: 20px;
  height: auto;
}
.plates .unDemi {
  width: 40%;
  margin-bottom: 20px;
  border-radius: 50%;
  border: solid 15px #FDFCFA;
  margin-top: -100px;
}

@media screen and (max-width: 768px) {
  .plates {
    flex-direction: column;
    align-items: center;
  }
  .plates .unQuart, .plates .unDemi {
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
  }
}
.about {
  background-color: #FDFCFA;
  padding-bottom: 60px;
}

#head {
  position: relative;
}

.bestLabel {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5%;
  margin-top: 15%;
  max-width: 20%;
}

h2 {
  position: absolute;
  text-align: center;
  color: #C8A96A;
  opacity: 0.2;
  font-size: 5.5rem;
  font-weight: 200;
  font-family: "Forum";
  text-transform: uppercase;
  margin-left: 0%;
  margin-top: 5%;
}

h3 {
  color: #090D0F;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Forum";
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  padding-top: 15%;
  width: 50%;
}

h4 {
  font-size: 0.8rem;
  font-family: "Forum";
  text-align: center;
  margin: auto;
  width: 50%;
  margin-bottom: 30px;
}

.mainAbout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: auto;
}
.mainAbout div {
  flex: 1;
}
.mainAbout img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.mainAbout p {
  font-family: "Forum";
  padding: 15px;
}

.mainAbout {
  flex-direction: column;
  align-items: center;
}

.discoverMore {
  padding: 15px;
}
.discoverMore a {
  width: 50%;
  background-color: #C8A96A;
  color: #FDFCFA;
  bottom: 0;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.menu {
  background-color: #FAF6F0;
}
.menu .titles:before {
  position: absolute;
  left: 5%;
  content: "Category";
  font-size: 4em;
  color: #C8A96A;
  opacity: 10%;
}
.menu .titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu .titles .subtitles {
  text-align: center;
}
.menu .titles .subtitles h3 {
  font-size: 1.5em;
}
.menu .titles .subtitles h4 {
  font-size: 0.6em;
}
.menu img[alt=bread] {
  position: absolute;
  left: 40%;
  opacity: 10%;
  height: 80%;
  z-index: 2;
}
.menu img[alt=steack] {
  position: absolute;
  height: 60%;
  padding-top: 132%;
  opacity: 10%;
}
.menu .box-prices {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 90%;
  z-index: 1;
}
.menu .box-prices .box-price {
  background-color: #FDFCFA;
  border: 1px dotted #C8A96A;
  border-radius: 5px;
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}
.menu .box-prices .box-price .name-food {
  padding-left: 10px;
}
.menu .box-prices .box-price .name-food p {
  font-size: 0.6em;
}
.menu .box-prices .box-price .price {
  text-align: center;
  font-size: 2em;
  color: #C8A96A;
}

.gallery {
  background-color: colorLight;
  text-align: center;
  padding: 0 0 5% 0;
}
.gallery .titles:before {
  position: absolute;
  left: 5%;
  content: "Gallery";
  font-size: 4em;
  color: #C8A96A;
  opacity: 10%;
}
.gallery .titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gallery .titles .subtitles {
  text-align: center;
}
.gallery .titles .subtitles h3 {
  font-size: 1.5em;
}
.gallery .titles .subtitles h4 {
  font-size: 0.6em;
}
.gallery .slide {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 80%;
  gap: 5px;
}
.gallery .slide .img1 {
  grid-column: 1/3;
}
.gallery .slide .img1 img[alt=image1] {
  width: 100%;
}
.gallery .slide .img2 {
  grid-column-start: 1/2;
}
.gallery .slide .img2 img[alt=image2] {
  width: 100%;
}
.gallery .slide .img1, .gallery .slide .img2 {
  transform: 0.3s;
}
.gallery .slide .img1:hover, .gallery .slide .img2:hover {
  transform: scale(1.5);
}
.gallery .viewMore {
  padding: 15px;
}
.gallery .viewMore a {
  width: 50%;
  background-color: #C8A96A;
  color: #FDFCFA;
  bottom: 0;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.chefs {
  background-color: #090D0F;
}
.chefs .titles:before {
  position: absolute;
  left: 5%;
  content: "Our chefs";
  font-size: 4em;
  color: #C8A96A;
  opacity: 10%;
}
.chefs .titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FDFCFA;
}
.chefs .titles .subtitles {
  text-align: center;
}
.chefs .titles .subtitles h3 {
  font-size: 1.5em;
}
.chefs .titles .subtitles h4 {
  font-size: 0.6em;
}
.chefs .photo-chefs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
}
.chefs .photo-chefs img {
  width: 100%;
}

.blog-container {
  display: flex;
  flex-direction: column;
}
.blog-container .box-blog {
  padding: 20px;
  border: 1px solid #C8A96A;
  margin: 10px;
  box-sizing: border-box;
  background-color: #FAF6F0;
}
.blog-container .box-blog .people {
  align-items: center;
  max-width: 100%;
  height: auto;
}
.blog-container .box-blog .itemInfo {
  display: flex;
  justify-content: flex-start;
}

p {
  margin: 10px 0;
  font-family: "Forum";
  text-transform: capitalize;
}
p img {
  margin-right: 5px;
  width: 10%;
  vertical-align: middle;
}

.readMore {
  text-align: right;
  padding: 15px;
}
.readMore a {
  width: 50%;
  background-color: #C8A96A;
  color: #FDFCFA;
  bottom: 0;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

.iconResto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.iconResto img {
  width: 20%;
  max-height: 90%;
  margin: 5%;
}

footer {
  background-color: #090D0F;
  color: #B4B4B4;
}
footer .logo-footer {
  width: 100%;
  text-align: center;
  padding-top: 5%;
}
footer .social-media {
  text-align: center;
}
footer .social-media img {
  background-color: gray;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 100%;
}
footer .social-media img:hover {
  background-color: #C8A96A;
}
footer .foot {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
footer .foot .email-container {
  display: flex;
  align-items: center;
}
footer .foot .email-container input {
  width: 50%;
  height: 25px;
  font-size: 0.5em;
  text-align: center;
  border: none;
}
footer .foot .send-email {
  color: #FDFCFA;
  background-color: #C8A96A;
  cursor: pointer;
  height: 27px;
  border: none;
}
footer h6 {
  font-size: 1.2em;
  color: #FDFCFA;
}
footer a {
  text-decoration: none;
  color: #B4B4B4;
}
footer img {
  width: 20px;
}
footer .contact {
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
footer .contact .A {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .contact .A img {
  padding-right: 5%;
}
footer img[alt=spoon] {
  position: absolute;
  right: 38%;
  width: 100px;
  z-index: 1;
}
footer .copy {
  padding: 30% 0;
  text-align: center;
  border-top: 1px solid #B4B4B4;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */