// colors
$colorIcon : #B4B4B4;
$colorLight : #FDFCFA;
$colorDark : #090D0F;
$colorGold : #C8A96A;
$colorBgLight : #FAF6F0;
$colorTitles: #f5eee3;

$background-colorDark : #090D0F;
$background-colorLight : #FDFCFA;

$text-colorDark : #090D0F;
$text-colorLight : #FAF6F0;
$text-colorMedium : #F5EEE3;

// font
$text-transform : capitalize;
@mixin text-h2 { 
    color: $colorGold;
    opacity: 0.2;
    font-size: 5.5rem;
    font-weight: 200;
    font-family: 'Forum';
    text-transform: uppercase;
    margin-left: 0%;
    margin-top: 5%;
    width: 60%;
}

